<div class="container">

        <hr>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Nus Techonology - Developed by <a href="http://maxoffsky.com/">Toi Trinh</a>
                    </p>
                </div>
            </div>
        </footer>

    </div>